
	body{	
	background-color: beige;
}
h2{
	color: red;
	text-decoration: underline;
	text-align: center;
}
h3{
	color: black;
	text-align: center;
}
p{
	font-family: cursive;
	text-align: center;
}
.favList{
	text-decoration: underline;
}
li{
	font-family: cursive;
	}
	h1{
		text-decoration: underline;
	}
form{
	padding: 15px;
	background-color: white;
	font-style: italic;
	border-style: solid;
	border-color: red;	
	font-weight: 900px;
}
input[type=button]:hover{
	border:	solid;
	color: black;
	background-color: red;
	padding: 5px;
}
input[type=text]:focus{
	background-color: brown;
	color: white;
	width: 100%
	transition: 2s;
	font-style: inherit;
	font-size: inherit;
}
	#Carloslist{
		color:white;
		background-color: black;
	}
#div1{
	background-color: blue;
}
#div2{
	background-color: brown;
}
#para2{
	background-color: red;	
}

}
</style>
<head>
	<title> Carlos Abreu</title>
	
</head>
<body>
<div id="div1">
<h1 style="position: center;">Hi, I'm Carlos and this is my website - Pre-Work</h1>
<h3> I am looking forward to becoming an expert at web developement at Per Scholas</h3>
<h3> I hope in the future I can become a Full-Stack Software Developer</h3>
<nav>
	<a href="pages/stories.html"> stories </a>
	<a href="/index.html"> index </a>
</nav>
</div>
<a href="https://gyazo.com/b90b6ecd1c2bfc7d58ae6113fc400c3e"><img src="https://i.gyazo.com/b90b6ecd1c2bfc7d58ae6113fc400c3e.png" alt="Image from Gyazo" width="300"/></a>
<div id="div2"> 
<p id="para1"> As I begin this journey, I hope to learn everything there is to become a developer.  I have worked with various technologies but nothing has called my attention the most like the back-end of the code making those applications work.  I look forward to this new challenge and becoming a mentor to someone like me in the future.
</p>
</div>
<p id="para2"> In previous job experiences, i've always been curious as to what it took to make software that must of us take for granted today.   I'd want to be part of that group that makes a differece in our lives by manipulating software, automating, simplifying and making life easier. 
</p>
</div>
<p id="Carloslist">My 3 top favorite things are:</p>	
<ol>	
	<li class="favList">Being a father to my Son Sebastian </li>
	<li class="favList">Leaning new technologies </li>
	<li class="favList">Traveling </li>
</ol>	

<body>
	<div>
	<form>
		<h4> Visitor Log </h4>
		First Name: <br>
		<input type="text" name="firstname"> <br>
		Last Name:  <br>
		<input type="text" name="lastname"> <br>
		City:		<br>
		<input type="text" name="city"> <br>
		Pronouns:		<br>
		<input type="text" name="pronouns"> <br>
		Mood:		<br>
		<input type="radio" name="mood"  Value="Happy">
					Happy <br>
		<input type="radio" name="gender"  Value="Sad">
					Sad <br>
		<input type="button" name="submit" value="submit">
	</form>
</div>
</body>

<table  width="48%" border= solid>
	<tr>
		<th> First Name</th>
		<th> Last Name</th>
		<th> Gender</th>
	</tr>
	<tr>
		<td> Carlos</td>
		<td> Abreu</td>
		<td> Male</td>
	</tr>
</table>

	</p>
<!-- THIS IS A COMMENT -->
</body>
</html>


