body {
  background-image: url("./battleship.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  text-decoration-color: cornsilk;

}

#center {
    text-align: center;
}

h1 {
    color: cornsilk;
    font-family: 'Faster One', cursive;
    font-family: 'Frijole', cursive;

}

h2 {
    color: white;
    font-family: 'Faster One', cursive;
    font-family: 'Frijole', cursive;

}