/* Navigation Bar */


/* Body */

body{	
	background-color: beige;
}

h1{
	text-decoration: underline;
}
/* Image */

.img1 {
	float: right;
	}
.clearfix{ 
	border: 3px solid #4CAF50;
  	padding: 5px;
}
  .clearfix {
	overflow: auto;
  }

h3{
	color: black;
	text-align: center;
}
p{
	font-family: cursive;
	text-align: center;
}
.favList{
	text-decoration: underline;
	font-family: Arial, Helvetica, sans-serif;
	text-align: left;
}
li{
	font-family: cursive;
	}
	

/* Visitor Log */
form{
	padding: 15px;
	background-color: white;
	font-style: italic;
	border-style: solid;
	border-color: green;	
	font-weight: 900px;
}
input[type=button]:hover{
	border:	solid;
	color: black;
	background-color: red;
	padding: 5px;
}
input[type=text]:focus{
	background-color: yellow;
	color: white;
	width: 100%
	transition: 2s;
	font-style: inherit;
	font-size: inherit;
}
	.favlist{
		color:beige;
		background-color: black;
	}
.div1{
	background-color: whitesmoke;
}
.right {
	float: right;
	width: 450px;
	padding: 10px;
  }

.left {
	float: left;
	width: 450px;
	padding: 10px;
  }

}



