#container {
    height: 90vh;
    display: grid;
    grid-template-areas:
    "sidebar reviews"
    "sidebar visitors"    ;
    grid-template-columns: 25% 72%;
    grid-template-rows: 35% auto;
    grid-gap: 1.2% 1.2%;
    border: solid rgb(80, 77, 77);
    /* background-color: #212f45; */
    background: linear-gradient(#1d3557, #d62828);
    padding: 2% 2%;
}

#sidebar {
    grid-area: sidebar;
    border: solid rgb(208, 199, 199);
    text-align: center;
    color: #e36414;

}

#img1{
    width: 160px;
    height: 45px
}

#reviews {
    grid-area: reviews;
    display: grid;
    border: solid rgb(237, 226, 226);
    grid-gap: 1% 1%;
    padding: 1% 1%;
}

#rev {
    grid-row: 1/3;
    width: 95%;
    height: 95%;
    border: solid rgb(222, 208, 208);
    text-align: center;
    color: #e36414;
    
}

#visitors {
    display: grid;
    grid-area: visitors;
    border: solid rgb(80, 77, 77);
    grid-template-rows: 34% 64%;
}
#vis {
    grid-column: 1/2;
    color: #e36414;
    text-align: center;
}
img {
    width: 100%;
    height: 100%;
}

#grad {
  background-image: linear-gradient(red, yellow, blue);
}